
<app-header></app-header>
<div>
            <div class="container">
                <div class="contactInfo"> 
                    <div>
                        <h2>Contact Info</h2>
                        <ul class="info">
                            <li>
                                <span><img src="../../assets/images/location.png"></span>
                                <span>NSTI Noida,
                                    Sector 1, Block D<br>
                                    1100003</span>
                                
                            </li>
                            <li>
                                <span><img src="../../assets/images/mail.png"></span>
                                <span><a href = "maxhospital@123gmail.com">#</a></span>
                            </li>
                            <li>
                                <span><img src="../../assets/images/call.png"></span>
                                <span>9876543210</span>
                            </li>

                        </ul>
                    </div>
                    <ul class="sci">
                        <li><a href="facebook"><img src="../../assets/images/1.png"></a></li>
                        <li><a href="instagram"><img src="../../assets/images/3.png"></a></li>
                        <li><a href="twitter"><img src="../../assets/images/2.png"></a></li>
                        <li><a href="linkedin"><img src="../../assets/images/5.png"></a></li>
                        
                    </ul>
                </div>
                    <div class="contactForm">
                        <h2>Send a Message</h2>
                        <div class="formBox">
                        <div class="inputBox w50">
                            <input type="text" name="" required>
                            <span> Name</span>
                        </div>
                        <div class="inputBox w50">
                            <input type="text" required>
                            <span> Address</span>
                        </div>
                        <div class="inputBox w50">
                            <input type="email" required>
                            <span>Email </span>
                        </div>
                        <div class="inputBox w50">
                            <input type="text" required>
                            <span>Mobile Number</span>
                        </div>
                        <div class="inputBox w50">
                            <input type="text" required>
                            <span>Age</span>
                        </div>
                        <div class="inputBox w50">
                            <input type="text" required>
                            <span>Date</span>
                        </div>
                        <div class="inputBox w100">
                            <textarea required></textarea>
                            <span>Write your message here...</span>
                        </div>
                        <div class="inputBox w100">
                            <input type="submit" value="Submit">
                        </div>
                    </div>
                </div>
                    
             
            </div>
            <app-footer></app-footer>