/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    background: linear-gradient(
        to right,
        rgb(43, 175, 67),
        rgb(165, 123, 229),
        rgb(163, 148, 186),
        rgb(43, 175, 67));
} */