

<body>
<!-- partial:index.partial.html -->
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container">
    <div class="card">
      <div class="content">
        <div class="img"><img src="/assets/images/aanchl.jpg"></div>
        <div class="cardContent">
          <h3>Aanchal Kumari<br><span>Web Developer</span></h3>
        </div>
      </div>
      <ul class="sci">
        <li style="--i:1">
          <a href="https://twitter.com/AnchalK68223112"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </li>
        <li style="--i:2">
          <a href="https://www.linkedin.com/in/aanchal-kumari-29a40a252/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </li>
        <li style="--i:3">
          <a href="https://github.com/aanchal5555"><i class="fa fa-github" aria-hidden="true"></i></a>
        </li>
    </ul>
    </div>
    <div class="card">
      <div class="content">
        <div class="img"><img src="/assets/images/Anju.jpeg"></div>
        <div class="cardContent">
          <h3>Anju Kumari<br><span>Web Developer</span></h3>
        </div>
      </div>
      <ul class="sci">
        <li style="--i:1">
          <a href="https://www.instagram.com/anju_gupta__1710?utm_source=qr&igsh=MTFjeWJyMmd6Y2J1Zg=="><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </li>
        <li style="--i:2">
          <a href="https://www.linkedin.com/in/anju-kumari-15b1a1249?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </li>
        <li style="--i:3">
          <a href="https://github.com/Anju2004"><i class="fa fa-github" aria-hidden="true"></i></a>
        </li>
    </ul>
    </div>
    <div class="card">
        <div class="content">
          <div class="img"><img src="/assets/images/payal.jpeg"></div>
          <div class="cardContent">
            <h3>Payal <br><span>Web Developer</span></h3>
          </div>
        </div>
        <ul class="sci">
          <li style="--i:1">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </li>
          <li style="--i:2">
            <a href="https://www.linkedin.com/in/payal-kumari-989074239?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </li>
          <li style="--i:3">
            <a href="https://github.com/payal895"><i class="fa fa-github" aria-hidden="true"></i></a>
          </li>
      </ul>
      </div>
       <div class="card">
      <div class="content">
        <div class="img"><img src="/assets/images/shivani.jpg"></div>
        <div class="cardContent">
          <h3>Shivani<br><span>Web Developer</span></h3>
        </div>
      </div>
      <ul class="sci">
        <li style="--i:1">
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </li>
        <li style="--i:2">
          <a href="https://www.linkedin.com/feed/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </li>
        <li style="--i:3">
          <a href="https://github.com/"><i class="fa fa-github" aria-hidden="true"></i></a>
        </li>
    </ul>
    </div>
    <div class="card">
        <div class="content">
          <div class="img"><img src="/assets/images/kamal.jpg"></div>
          <div class="cardContent">
            <h3>kamal<br><span>Web Developer</span></h3>
          </div>
        </div>
        <ul class="sci">
          <li style="--i:1">
            <a href="https://www.facebook.com/kml.sharma.543"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </li>
          <li style="--i:2">
            <a href="https://www.linkedin.com/in/kamal-sharma-828a5018b/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </li>
          <li style="--i:3">
            <a href="https://github.com/kamal8996"><i class="fa fa-github" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
      
      <div class="card">
        <div class="content">
          <div class="img"><img src="/assets/images/team.jpg"></div>
          <div class="cardContent">
            <h3>Tannu dhanda<br><span>Web Developer</span></h3>
          </div>
        </div>
        <ul class="sci">
          <li style="--i:1">
            <a href="https://x.com/tannudhanda1?t=zrDcIpgx39dUpMnwmPM4_Q&s=08"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </li>
          <li style="--i:2">
            <a href="https://www.linkedin.com/in/tannu-dhanda-00b78b229?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </li>
          <li style="--i:3">
            <a href="https://github.com/dhandatannu"><i class="fa fa-github" aria-hidden="true"></i></a>
          </li>
      </ul>
      </div>
      <div class="card">
        <div class="content">
          <div class="img"><img src="/assets/images/nisha.jpg"></div>
          <div class="cardContent">
            <h3>Nisha<br><span>Web Developer</span></h3>
          </div>
        </div>
        <ul class="sci">
          <li style="--i:1">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </li>
          <li style="--i:2">
            <a href="https://www.linkedin.com/in/nisha-mudgil-49018324b"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </li>
          <li style="--i:3">
            <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
          </li>
      </ul>
      </div>
      <div class="card">
        <div class="content">
          <div class="img"><img src="/assets/images/muskandi.jpg"></div>
          <div class="cardContent">
            <h3>Muskan<br><span>Web Developer</span></h3>
          </div>
        </div>
        <ul class="sci">
          <li style="--i:1">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </li>
          <li style="--i:2">
            <a href="https://www.linkedin.com/in/muskan-719527ba/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </li>
          <li style="--i:3">
            <a href="https://github.com/muskan270"><i class="fa fa-github" aria-hidden="true"></i></a>
          </li>
      </ul>
      </div>
      <div class="card">
        <div class="content">
          <div class="img"><img src="/assets/images/khushboo.jpeg"></div>
          <div class="cardContent">
            <h3>Khusboo<br><span>Web Developer</span></h3>
          </div>
        </div>
        <ul class="sci">
          <li style="--i:1">
            <a href="https://www.instagram.com/khushboorai98?igsh=MTl0bmg1MmQzdWFkMw=="><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </li>
          <li style="--i:2">
            <a href="https://www.linkedin.com/in/khushboo-rai-a331a7244?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </li>
          <li style="--i:3">
            <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
          </li>
      </ul>
      </div>
      <div class="card">
        <div class="content">
          <div class="img"><img src="/assets/images/grv.jpeg"></div>
          <div class="cardContent">
            <h3>Gaurav Singh<br><span>Web Developer</span></h3>
          </div>
        </div>
        <ul class="sci">
          <li style="--i:1">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </li>
          <li style="--i:2">
            <a href="https://www.linkedin.com/in/gaurav-singh-0844b4256?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </li>
          <li style="--i:3">
            <a href="https://github.com/Gaurav-Ji145?tab=repositories"><i class="fa fa-github" aria-hidden="true"></i></a>
          </li>
      </ul>
      </div>
     
    
  </div>
  
</body>
<!-- partial -->
  
</body>


