
<div class="container-fluid text-white py-4 px-sm-3 px-md-5" style="background: #5aa3ad;">
    <div class="row">
    <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
    <p class="m-0 text-white">
    &copy; <a class="text-white font-weight-bold">2024</a>. All Rights Reserved. Designed by
    <a class="text-white font-weight-bold">HealthCare</a>
    </p>
    </div>
    <div class="col-md-6 text-center text-md-right">
    <ul class="nav d-inline-flex">
    <li class="nav-item">
        <a class="nav-link text-white py-0" href="#">Privacy</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-white py-0" href="#">Terms</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-white py-0" href="#">FAQs</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-white py-0" href="contact.html">Help</a>
    </li>
    </ul>
    </div>
    </div>
    </div>
    <!-- Footer End -->
    